/* Grace Merry 2/28/21*/

/*universal styles*/
* {
	box-sizing: border-box;
}

/*global styles*/
body {
	background-color: #EAEAEA;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

/*structural element styles*/
header {
	background-color: #002171;
	color: #FFFFFF;
	text-align: center;
}
nav {
	font-weight: bold;
	padding: 0;
	font-size: 120%;
	text-align: center;
}
main {
	padding-top: 1px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	display: block;
	background-color: #FFFFFF;
	overflow: auto;
}
footer {
	font-size: 75%;
	font-style: italic;
	text-align: center;
	font-family: Georgia, "Times New Roman", serif;
	padding: 2em;
	background-color: #FFFFFF;
}

/*heading styles*/
h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: Georgia, "Times New Roman", serif;
	letter-spacing: 0.25em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
h2 {
	color: #1976D2;
	font-family: Georgia, "Times New Roman", serif;
	text-shadow: 1px 1px 0 #CCCCCC;
}
h3 {
	color: #000033;
	font-family: Georgia, "Times New Roman", serif;
}

/*list styles*/
dt {
	color: #002171;
}
main ul {
	list-style-image: url(../images/marker.gif);
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	font-size: 1.2em;
}
nav li {
	border-bottom: 1px solid #000033;
}

/*nav link styles*/
nav a {
	text-decoration: none;
}
nav a:link {
	color: #5C7FA3
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #A52A2A;
}

/*header link styles*/
header a {
	text-decoration: none;
}
header a:link {
	color: #FFFFFF;
}
header a:visited {
	color: #FFFFFF;
}
header a:hover {
	color: #90C7E3;
}

/*classes*/
.resort {
	color: #1976D2;
	font-weight: bold;
}

/*ids*/
#contact {
	font-size: 90%;
}
#wrapper {
		background-color: #90C7E3;
		background-image: linear-gradient( to bottom, #FFFFFF, #90C7E3);
}
#homehero {
	background-image: url(../images/coast2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 300px;
}
#yurthero {
	background-image: url(../images/yurt.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 300px;
}
#trailhero {
	background-image: url(../images/trail.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 300px;
}

/*grid display styles*/
/*part of tablet layout media query*/
.content main {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
}
h2 {
	grid-row: 1 / 2;
	grid-column: 1 / 5;
}
section {
	grid-row: 2 / 3;
	grid-column: auto;
}
#special {
	grid-row: auto;
	grid-column: 1 / 5;
}
footer {
	grid-row: auto;
	grid-column: 1 / 5;
}

/*media queries*/
@media (min-width: 600px) {
	nav ul {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
	}
	nav li {
		border-bottom: none;
	}
	section {
		padding-right: 2em;
		padding-left: 2em;
	}
}

@media (min-width: 1024px) {
	nav ul {
		flex-direction: column;
		padding-top: 1em;
	}
	nav {
		text-align: left;
		padding-left: 1em;
	}
	#wrapper {
		width: 80%;
		margin: auto;
		border: 1px solid #000033;
		box-shadow: 3px 3px #333333;
		display: grid;
		grid-template-rows: auto auto auto auto;
		grid-template-columns: 180px auto;
	}
	#wrapper header {
		grid-row: 1 / 2;
		grid-column: 1 / 3;
	}
	#wrapper nav {
		grid-row: 2 / 5;
		grid-column: 1 / 2;
	}
	#wrapper div {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
	}
	#wrapper main {
		grid-row: 3 / 4;
		grid-column: 2 / 3;
	}
	#wrapper footer {
		grid-row: 4 / 5;
		grid-column: 2 / 3;
	}
}
		
		
		
